.coffee-form {
    display: flex;
    margin-bottom: 30px;
}

.btn-save {
    height: 50%;
    margin-top: 32px;
}

#id-fieldset {
    width: 40px;
    margin-right: 10px;
}

#species-fieldset {
    margin-right: 10px;
}

#name-fieldset {
    margin-right: 10px;
}

#region-fieldset {
    margin-right: 10px;
}

#delivery-price-fieldset {
    margin-right: 10px;
}

#trash-col, #edit-col {
    width: 50px;
}

#price-col {
    width: 15%;
}

#trash-btn {
    height: 30px;
}

#edit-btn {
    height: 23px;
    margin-top: 4px;
}