#logoImg {
  width: 40%;
  margin-bottom: 50px;
}

.inf-container {
  background-color: #f7f7f7;
  overflow-y: scroll;
}

#firstCarousel,
#secondCarousel,
#thirdCarousel {
  width: 50%;
}

#secondCarousel {
  margin-left: 10%;
}

p {
  font-size: 16px !important;
  margin: 5px 0 !important;
}

#timetable {
  margin-left: 4%;
}

h4 {
  text-align: end;
}