#drinks-img {
    max-height: 550px;
    border-radius: 20px;
    margin: 0px 60px 0px 40px;
}

#page-title {
    margin-bottom: 2rem;
    text-align: center;
}

.order-container {
    display: flex;
}

.order {
    width: 65%;
}

p {
    font-size: 20px;
    margin-top: 1rem;
}

#calc-price {
    text-align: right;
    margin-top: 6rem;
}

.card {
    height: 85%;
}