.App-link {
  color: #61dafb;
}

.container-floid {
  background-image: url(./img/coffeeBG.jpg);
  /* position: static; */
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container {
  padding: 0 !important;
}

.inf-container {
  background-color: #f7f7f7;
  overflow-y: scroll;
}